/* .logo-container {
  background-color: #5a7d2a;
  padding: 20px 30px;
} 
*/

.intro-container {
  font-family: Silkscreen;
  display: flex;
  flex-direction: column;
  align-items: center;

  /* replace this one */
  /* background-image: url(/backgrounds/gridBG1.png); */

  background-repeat: repeat;
  background-size: cover;
  color: white;
  /* margin: 40px; */
  padding: 20px 0px;
  /* margin: 0px 30px; */
}

.intro-images-container {
  background-color: #5a7d2a;
}

.content {
  /* display: flex; */
  /* flex-direction: row; */
  width: 60%;
  padding: 20px;
  margin: 10px;
  /* align-items: ; */
  /* justify-content: space-around; */
  background-color: #5a7d2a;
}
